/*
font-family: 'Poppins', sans-serif;
font-family: 'Inknut Antiqua', serif;
*/
@import url(https://fonts.googleapis.com/css?family=Inknut+Antiqua:900|Poppins:400,500,600&display=swap);


body {
  background-color: #eb0901;
}

div {
  background-color: #1d2eeb;
}

span {
  background-color: #f18973;
}

h1 {

font-family: 'Inknut Antiqua', serif;
font-weight: 900;
font-size:400%;
color: #ffffff;
text-align: center;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  text-align:center;
}
.grid-demo.feature {
  font-family: 'Poppins: 700', sans-serif;
  font-size:20px;
  color: white;
  text-align:center;
  te
}
.grid-demo section {
  display: grid;
  display: column;
  grid-template-columns: 2fr repeat(2, 2fr);
  grid-template-rows: 250px 250px 250px;
  grid-gap:20px;
  padding: 20px;
}
.grid-demo div {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom:10px;
}
